/* 
	- necessary 4 property to normalize the webpage 
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	margin:0px;
	padding:0px;
	box-sizing:border-box;	/* control the border size */
	font-family: 'Poppins', sans-serif;
 }



/* 
	- webpage header section 
*/
#webpageheader {
	min-width:100%;
	min-height:35px;
	background-color:lightgray;
	
	
	padding-left:2%;
	margin-bottom:0px;	/* gap b/w one to another line */
	font-size: 0.8rem;
	line-height:35px;	/*display text in the center of line */
}
#webpageheader a{
	text-decoration: none;
}
#webpageheader a:hover{
	background-color: white;
}



/*
	- Top navigation bar 
*/
.topnav {
	min-width:100%;
	min-height:35px;
	line-height:35px;	/*display text in the center of line */
	background-color:#454545;
	
	padding-left:2%;
	
	text-align: left;
	margin-bottom:0px;	/* gap b/w one to another line */
	
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;

}
.topnav a{
	color: white;
	font-size: 1rem;
	line-height:35px;
	min-height:35px;
	text-decoration: none;
}
.topnav a:hover{
	background-color: green;
}

.openbtn {
	background-color: #454545;
	font-size: 1rem;
	color: white;
	padding: 1% 1.5%;
	line-height:1rem;
	border: none;
}
.openbtn:hover {
	background-color: green;
}


/* 
	side bar 
*/
#sidebar {
	width: 0%;
	height: 100%;
	background-color: #000000;
	
	transition: 0.5s;
	position: fixed;
	padding-top: 35px;
	top: 35px;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
}
#sidebar a {
	padding: 4px 4px 4px 16px;
	text-decoration: none;
	font-size: 1rem;
	color: white;
	display: block;
	transition: 0.8s;
}
#sidebar a:hover {
	color: #f1f1f1;
}
#sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 20px;
	margin-left: 50px;
}

#menu {
	transition: margin-left .5s;
	padding: 2px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}








/* page content */
#pagecontent {
	min-width:100%;
	min-height:100%;
	background-color:white;
	
	text-align: center;
	text-color:white;
}





/* 
	footer section 
*/
#footer {
	min-width:100%;
	min-height:40px;
	background-color:lightgray;
	
	color: #FF8A5D;
	bottom: 0;
	padding: 50px;
	text-align: center;
}