/* 
	- necessary 4 property to normalize the webpage 
*/
* {
	margin:0px;
	padding:0px;
	box-sizing:border-box;	/* control the border size */
	font-family:Arial;
 }


/* 
	- webpage header section 
*/
#webpageheader {
	min-width:100%;
	min-height:40px;
	background-color:lightgray;
	
	padding-left:2%;
	line-height:40px;	/*display text in the center of line */
	margin-bottom:0px;	/* gap b/w one to another line */
}



/*
	- Top navigation bar 
*/
#topnav {
	min-width:100%;
	min-height:35px;
	background-color:#454545;
	
	padding-left:2%;
	line-height:35px;	/*display text in the center of line */
	text-align: left;
	margin-bottom:0px;	/* gap b/w one to another line */
}


/* page content */
#pagecontent {
	min-width:100%;
	min-height:100%;
	background-color:white;
	
	text-align: center;
	text-color:white;
}






/* 
	footer section 
*/
#footer {
  background-color:lightgray;
  color: #FF8A5D;
  padding: 50px;
  text-align: center;
}