

/*--*******---Main Page Styles---*********/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* 
	- necessary 4 property to normalize the webpage 
*/

* {
	margin:0%;
	padding:0%;
	box-sizing:border-box;	/* control the border size */
	font-family: 'Poppins', sans-serif;
 }


/* 
	- styles for webpage header section 
*/
header {
	min-width:100%;
	min-height:2rem;
	line-height:2rem;	/*display text in the center of line */
	background-color:lightgray;
	font-size: 0.8rem;
	margin-bottom:0.05%;	/* gap b/w one to another line */
	
}
header a{
	text-decoration: none;
}
header a:hover{
	color: red;
}


/*
	- styles for  Top navigation bar 
*/
nav {
	min-width:100%;
	min-height:2rem;
	line-height:2rem;	/*display text in the center of line */
	background-color:#454545;
	padding-left:1%;
	text-align: left;
	margin-bottom:1%;	/* gap b/w one to another line */
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}
nav a{
	color: white;
	font-size: 1rem;
	line-height:2rem;
	min-height:2rem;
	text-decoration: none;
}
nav a:hover{
	color: red;
}

.openbtn {
	background-color: #454545;
	font-size: 1rem;
	color: white;
	padding: 1% 1.5%;
	line-height:1rem;
	border: none;
}
.openbtn:hover {
	background-color: red;
}


/* 
	styles for  side bar 
*/
#sidebar {
	width: 0%;
	height: 100%;
	background-color: #000000;
	
	transition: 0.5s;
	position: fixed;
	padding-top: 2rem;
	top: 2rem;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
}
#sidebar a {
	padding: 4px 4px 4px 16px;
	text-decoration: none;
	font-size: 1rem;
	color: white;
	display: block;
	transition: 0.8s;
}
#sidebar a:hover {
	color: red;
}
#sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 10%;
	font-size: 1rem;
	margin-left: 20%;
}

#menu {
	transition: margin-left .5s;
	padding: 0.05%;
}


/* styles for  page content */

body {
	padding:0.1%;
}
#pagecontent {
	width:100%;
	min-height:100%;
	background-color:white;
	text-align: center;
	color:black;
	font-family:Arial;
	font-size: 0.9rem;
	padding: 3%;
}

#whySpl {
	width:100%;
	min-height:100%;
	background-color:hsla(0, 89%, 97%, 1);
	font-family:Arial;
	font-size: 0.9rem;
	padding: 3%;
	text-align:center;
}

/* 
	styles for footer section 
*/
footer {
	min-width:100%;
	min-height:100%;
	background-color:lightgray;
	color: #FF8A5D;
	bottom: 0;
	padding: 3%;
	text-align: center;
}



/* styles for subpage if additional required */

